#!/usr/bin/make -f

export PYBUILD_NAME=electrum-trc

%:
	dh $@ --with python3 --buildsystem=pybuild

override_dh_installchangelogs::
	dh_installchangelogs -k RELEASE-NOTES

override_dh_auto_install::
	dh_auto_install
	mkdir -p debian/electrum-trc/usr/bin \
             debian/electrum-trc/usr/share
	cp -r debian/python3-electrum-trc/usr/bin \
       debian/electrum-trc/usr
	cp -r debian/python3-electrum-trc/usr/share/applications \
       debian/electrum-trc/usr/share
	cp -r debian/python3-electrum-trc/usr/share/pixmaps \
       debian/electrum-trc/usr/share
	mkdir -p debian/trc-electrum/usr/bin \
             debian/trc-electrum/usr/share
	mv debian/python3-electrum-trc/usr/bin \
       debian/trc-electrum/usr
	mv debian/python3-electrum-trc/usr/share/applications \
       debian/trc-electrum/usr/share
	mv debian/python3-electrum-trc/usr/share/pixmaps \
       debian/trc-electrum/usr/share
